<p>CHILD {{value}}</p>

<div class="container">
    <div class="textSelector">
        <input [(ngModel)]="value"
        (keydown)="onKeyDown($event)"
        (keyup)="onKeyUp($event)"
        placeholder="{{placeHolder}}"/>
        <div class="arrow"></div>
    </div>
    <div class="list" #divList [style.width.px]="myStyleWidth">
        <ul>
            <ng-template ngFor let-item let-i="index" [ngForOf]="filteredList">
                <li [ngClass]="{'highlighted':isHighlighted(i)}" (click)="itemClick(i)">{{item}}</li>
            </ng-template>
        </ul>
    </div>
</div>

