<p>autocomplete works!</p>

<div class="container">
    <input #searchText
           [(ngModel)]="value"
       (change)="onChange($event)"
       (keydown)="onKeyDown($event)"
       (keyup)="onKeyUp($event)"
       placeholder="type state"/>
    <div class="list">
        <ul>
            <ng-template ngFor let-item let-i="index" [ngForOf]="displayedList">
                <li [ngClass]="{'highlighted':isHighlighted(i)}">{{item}}</li>
            </ng-template>
        </ul>
    </div>
</div>

