* {
  width: 20em;
  font-size: 1em;
}

input {
  border-radius: 0.2em;
  font-size: 1.2em;
  width: 400px;
}

ul {
  margin: 0;
  padding: 0;
  background-color: beige;
  width: 400px;
}

li {
  width: 400px;
  list-style: none;
}

li:hover {
    background-color: lightsteelblue
}

li.highlighted {
  background-color: cadetblue;
}
