* {
  font-size: 1em;
}

input {
  border-radius: 0.2em;
  font-size: 1em;
  width: 400px;
}
div.list {
  overflow-y: auto;
  /*height: 140px;*/
  width:400px;
  }

ul {
  margin: 0;
  padding: 0;
  background-color: beige;
}

li {
  list-style: none;
  height:35px;
}

li:hover {
    background-color: lightsteelblue
}

li.highlighted {
  background-color: cadetblue;
}
